/* Set universal font-style */
* {
  font-family: "Gill Sans";
}

/* Fix asymmetrical margin */
body{
  margin: 30px;
}

/* Apply to completed items */
.completed {
  text-decoration: line-through;
}
