/* Set universal font-style */
* {
  font-family: "Gill Sans";
}

/* Fix asymmetrical margin */
body{
  font-family: "Gill Sans";
  margin: 30px;
}

/* Make it obvious placeholder isn't a value entered in input */
input::placeholder{
  opacity: 0.5;
}

/* Ensure styling of all list items is consistent */
li{
  list-style-type: disc;
}

/* Match how Workflowy styles todos that are children of a completed parent todo */
.completed {
  color: #C7C7C7;
}

/* Only style <p> elements that are the immediate children of .completed elements */
.completed > p{
  text-decoration: line-through;
}